*{margin: 0;
    padding: 0;}
    body{
        font-family: 
        'Montserrat', sans-serif;}
    a{text-decoration:none}
    .center{padding-left: calc(50% - 600px);
        padding-right:  calc(50% - 600px);}
    .top
        {height: 735px;
        background-image: url(img/fon.jpg);
        background-repeat: no-repeat;
        background-position:center;
        background-size: cover;}
        .top_catalog
        {height: 400px;
        background-image: url(img/fon-catalog.jpg);
        background-repeat: no-repeat;
        background-position:center;
        background-size: cover;}
    .header_input
        {width: 288px;
        height: 41px;
        border: 1px solid #FFFFFF;
        border-radius: 20px; 
        background-color: transparent;
        outline: none;
        font-size: 16px;
        line-height: 19.5px;
        color:#FFFFFF;
        padding-left: 32px;
        padding-right: 32px;
        box-sizing: border-box;
    }
    .header_input::placeholder{color:#FFFFFF;}
    .road
        {display: flex;
        gap: 32px;
    }
    .menu-mob{display: none;}
    .road_catalog {
        display: flex;
          align-content: center;
          align-items: center;
          flex-wrap: wrap;
          margin-top: 64px;
          flex-direction: row;
          justify-content: space-between;
      }
    .road_catalog_left{    display: flex;
        gap: 10px;}
    .catalog_text{color: #000;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 32px;}
    .road_link
        {line-height:20px;
        text-decoration:none;
        color: white;
        font-size: 16px;
        font-weight: 400;
        word-wrap: break-word;
        }
    .select {
            position: relative;
            width: 288px;}
          
    select { display: block;
            width: 100%;
            height: 41px;
            padding-left: 14px;
            padding-right: 22px;
            background: none;
            border-radius: 20px; 
            border: 1px solid #C4C4C4;  
            appearance: none;   
            color: #000;
            font-family: Montserrat;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;}
            .select::after {
                content: "";
                display: block;
                border-style: solid;
                border-width: 6px 5px 0 5px;
                border-color: #000 transparent transparent transparent;
                pointer-events: none;
                position: absolute;
                top: 50%;
                right: 1rem;
                z-index: 1;
                margin-top: -3px;
              }
              
    .heading
        {color: white;
        font-weight: 600;
        line-height: 70px;
        word-wrap: break-word;
        margin-top: 64px;
        margin-bottom: 16px;
        font-size: 64px;
        max-width: 792px;} 
        .heading_logo
        {color: white;
        font-weight: 600;
        line-height: 70px;
        word-wrap: break-word;
        margin-top: 64px;
        margin-bottom: 16px;
        font-size: 64px;
        max-width: 792px;} 
    .header {height: 76px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        border-bottom: 0.5px solid #ffffff;}
    .header_catalog{display: inline-flex;
            padding: 16px 0px;
            justify-content: space-between;
            align-items: center;
            height: 76px;
            flex-direction: row;
            flex-wrap: wrap;}
    .for{display: grid;
        gap: 32px;
        grid-template-columns: repeat(12, 1fr);
        margin-top: 32px;}
    .for_item{height: 415px;
        grid-column: span 4;
        font-size: 34px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        color: #FFF;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .for_item_big{grid-column: span 6;}
    .for_item_1{background-image: url(img/rest.jpg);}
    .for_item_2{background-image: url(img/work.jpg);}
    .for_item_3{background-image: url(img/kitchen.jpg);}
    .for_item_4{background-image: url(img/childrens.jpg);}
    .for_item_5{background-image: url(img/bathroom.jpg);}
    
    .text{font-size: 24px;
        line-height: 32px;
        margin-bottom: 16px;
        color: white;
        font-weight: 400;
        word-wrap: break-word}
    .catalog
        {font-size: 16px;
        line-height: 24px;
        text-decoration: underline;
        color: white;
        font-weight: 400;
        word-wrap: break-word}
    .catalog_back
        {font-size: 16px;
        line-height: 24px;
        text-decoration: underline;
        color: black;
        font-weight: 400;
        word-wrap: break-word;
        transition: all 1s;}
    .catalog_back:hover{
        color:#888888;
        text-decoration: none;}
    .transit
        {margin-top: 32px;
        margin-bottom: 34px;
        }
    .product{
        width: 378px;
        display: flex;
        flex-wrap: wrap;
        }
    .product-img{ width: 378px;}
    .product-content{
        margin-top: 32px;
        display: flex;
        gap: 32px;
        flex-wrap: wrap;}
    .product-price{    display: flex;
        gap: 32px;}
    .spec{font-weight: 600;
        font-size: 48px;
        line-height: 59px;
        color: #000000;
        margin-top: 64px;
        margin-bottom: 32px;}
    .furniture
        {font-weight: 500;
        font-size: 24px;
        line-height: 29px;
        color: #000000;
        word-wrap: break-word;
        margin-top: 10px;
        margin-bottom: 9px;}
    .soft
        {font-size: 14px;
        line-height: 17px;
        color: #888888;
        margin-bottom: 12px;
        word-wrap: break-word;
        font-weight: 400;}
    .price
        {font-weight: 500;
        font-size: 24px;
        line-height: 29px;
        color: #050505;
        word-wrap: break-word
    }
    .price_old
        {font-weight: 500;
        font-size: 24px;
        line-height: 29px;
        text-decoration-line: line-through;
        color: #888888;
        word-wrap: break-word}
    .menu{font-weight: 500;
        font-size: 24px;
        line-height: 29px;
        color: #000000;
        margin-top: 32px;}
    .block_contakts{display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-content: flex-start;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 12px;}
    .knopki{font-weight: 500;
        font-size: 14px;
        line-height: 17px;
        color: #6e6e6e;
        text-decoration: none;}
    .knopki:hover{text-decoration: underline;}
    .news{
        color: #000;
        font-size: 12px;
        font-style: normal;
        font-weight: normal;
        line-height: 16px;
        margin-top: 32px;}
    .emailform 
        {background: #FFFFFF;
        padding-left: 25px;    
        border: 1px solid #C4C4C4;
        width: 268px;
        height: 46px;
        box-sizing: border-box;
        border-radius: 20px;
        font-style: normal;
        font-weight: normal;
        font-size: 15px;
        line-height: 18px;
        &::placeholder{color: #C4C4C4;}
        
        font-family: Montserrat;}
    .finish
        {background: rgba(222, 215, 215, 0.41);
        border: 1px solid #FFFFFF;
        box-sizing: border-box;
        border-radius: 20px;
        width: 268px;
        height: 46px;
        font-size: 14px;
        line-height: normal;
        font-weight: 400;
        color: #000;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: all 1s;}
    .finish:hover{background: #000000;
            color:#FFFFFF;}
    
    .block_menu
        {display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        gap: 12px;
        align-content: flex-start;
        justify-content: flex-start;
        align-items: flex-start;}
    .footer{height: 207px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: flex-start;
        background-color: #F7F6F6;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        align-content: flex-start;}
    .bottom
        {margin-top: 32px;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: flex-start;}
    .form_footer{display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-items: flex-start;
        flex-direction: column;
        align-content: flex-start;
        gap: 12px;}
    .form_input::placeholder{color:#C4C4C4;}
    
@import'cart';
@import'tablet';
@import'mobile';